<div class="bodyBackgroundDiv">
</div>
<div class="bodyDiv">
	<div class="container">
		<br>
		<h1>Auction Room</h1>
		<br>
		<h2>Choose an art piece below and place your bid</h2>
		<br>
      <div class="mainlistitem">
      <div class="items">
       <div>
        <div id="timeToExpire"></div>
	        <div id="wellSection">
						{{#each imageArr}}
							<div class="well">
							<span id="picId">Item # {{id}}</span> <br>
							<span id="picName">{{name}}</span> <br>
			        <span id="bidding">$ {{bidprice}}</span> <br>
			        <span id="picBidder"> Highest bidder: {{this.User.userName}}</span>
							<img src="/api/getimage/{{name}}" class="img-responsive"/>
							</div>
						{{/each}}
					</div>	
	        <input type="text" name="numPic" placeholder="# of picture" id="pictureNum">
	        <input type="text" name="bidAmount" placeholder="enter bid" id="bidPrice">
	        <button type="submit" id="submit">Submit</button>
         </div>
            </div> 
            <div class="formdiv">
          </div>
          <br>
         </div>
			<div id="priceLowModal" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Invalid</h4>
	          </div>
	          <div class="modal-body">
	            <p>Price entered is too low, Please enter another bid!</p>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
	  </div>
	  <div id="bidSuccess" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Success</h4>
	          </div>
	          <div class="modal-body">
	            <p>You are the highest bidder!</p>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
	  </div>
	  	  <div id="pleaseLog" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Error</h4>
	          </div>
	          <div class="modal-body">
	            <p>You have to be logged in!</p>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
	  </div>
	  <div id="nanmodal" class="modal fade" role="dialog">
	      <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Error</h4>
	          </div>
	          <div class="modal-body">
	            <p>You have to enter a correct value</p>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          </div>
	        </div>
	      </div>
	  </div>

		<h3>Click <a href="/">here</a> go post your own art for sale</h3>
		<h3>Click <a href="/home">here</a> go back to home</h3>

		<footer id="auctionFooter">
			<div>
				@Copyright Bobby Frazette, Abhaya Pawar, Vanessa Otto, &amp; Adam Zamojski
			</div>
		</footer>
	</div>

	<script type="text/javascript">
		
	$("#submit").on("click", function(){
	  var currentURL = window.location.origin;
	  if ( isNaN($("#bidPrice").val().trim()) || $("#bidPrice").val().trim() == "" || isNaN($("#pictureNum").val().trim()) || $("#pictureNum").val().trim() == "") {
	  	$("#nanmodal").modal('toggle');
	  	return;
	  }
	  var bidPost = {
	  	bidAmount: parseInt($("#bidPrice").val().trim()),
	  	pictureNum: parseInt($("#pictureNum").val().trim()),
	  	getToken: localStorage.getItem("token")
	  }
	  console.log(bidPost.getToken);
	  console.log(bidPost.pictureNum);
	  //retrieves token from user db to determine who made the bid
	  $.get("/auction/checklog" + bidPost.getToken, function(data) {
	  		if (data == null) {
	  			$("#pleaseLog").modal('toggle');
	  			return;
	  		} 
	  		if (data.login == true) {
	  			postBid();
	  		}
	  		else {
	  			$("#pleaseLog").modal('toggle');
	  			return;
	  		}
	  }); //ends /auctionchecklog request
	  //postBid checks the current bid and if its higher it will update it with the new amount
	  function postBid() 
	  {
		  $.get("/auction/getprice" + bidPost.pictureNum, function(data) {
		  	if (data == null) {
		  		$("#nanmodal").modal('toggle');
		  		return;
		  	}
		  	var itemPrice = data.bidprice;
		  	console.log(itemPrice);
		  	if (itemPrice >= bidPost.bidAmount) {
		  		$("#priceLowModal").modal('toggle');
		  		return;
		  	}
		  	else if (bidPost.bidAmount > itemPrice) {
		  		
		  		updateBid(bidPost);
		  		// updateBid.reload(bidPost);
		  	}
		  }); //ends /auction/getprice request
		} //ends function postBid
	}); //#submint callback
	//updateBid makes the post call to mysql db to update the bid and return the most 
	//up to date items
	function updateBid(data) 
	{
		var currentURL = window.location.origin;
		//post request to image db to update the current bid for the picture
		$.post(currentURL + "/auction/bid", data, function(result) {	
			$("#pictureNum").val("");
			$("#bidPrice").val("");
			$("#bidSuccess").modal('toggle');
			// console.log(result[0].UserId);
			console.log(result);
			console.log(result.length);
			// console.log(nameArray);
			var nameArray = [];
				var i = 0;
				var stopLoop = result.length;
			function putInArray() {
				if (result[i].UserId != null) {
				// get request to find user name that have the current highest bid
				$.get("/api/usercheck" + result[i].UserId).then(function(data){
						i += 1;
						stopLoop = stopLoop - 1;
							nameArray.push(data.userName);
						if (stopLoop <= 0) {
								console.log("usercheck ended!");
								getBidItems(result, nameArray);
								return;
						}
							putInArray();
					})
				}
				else {
					i += 1;
					stopLoop = stopLoop - 1;
					nameArray.push("No bidder Yet");
					putInArray();
				}
			}
				putInArray();
				console.log(nameArray);
		})
	}
		//getBidItems dynamically sets the image and its content back to the DOM
		function getBidItems(data, nameArray) {
			$("#wellSection").empty();
			for (var i = 0; i < data.length; i++) {
				var cutName = data[i].name.split(".");
				var finalCut = cutName[0];
				var wellSection = $('<div>');
				wellSection.addClass("well");
				wellSection.attr("id", "pictureWell-" + i);
				$("#wellSection").append(wellSection);
				$("#pictureWell-" +i).append("<span id=picId> Item # " + data[i].id + "</span><br>");
				$("#pictureWell-" +i).append("<span id=picName>" + finalCut + "</span><br>");
				$("#pictureWell-" +i).append("<span id=bidding>$ " + data[i].bidprice + "</span><br>");
				$("#pictureWell-" +i).append("<span id=picBidder>Highest bidder: " + nameArray[i] + "</span>");
				$("#pictureWell-" +i).append("<img src= '/api/getimage/" + data[i].name + "' class=img-responsive></img>");
			};
		}
	//function to set when the bid will end
	function timer() {
		// Set the date we're counting down to
	var countDownDate = new Date("May 15, 2017 00:00:00").getTime();
		// Update the count down every 1 second
		var x = setInterval(function() {
		    // Get todays date and time
		    var now = new Date().getTime();
		    
		    // Find the distance between now an the count down date
		    var distance = countDownDate - now;
		    
		    // Time calculations for days, hours, minutes and seconds
		    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		    
		    // Output the result in an element with id="demo"
		    $("#timeToExpire").html("Bid Ends: " + days + "d " + hours + "h "
		    + minutes + "m " + seconds + "s ");
		    
		    // If the count down is over, write some text 
		    if (distance < 0) {
		        clearInterval(x);
		        $("#timeToExpire").html("EXPIRED");
		    }
		}, 1000);
	}
	timer();
	</script>
</div>